#panda_overlay {
    font-weight: bold;
    position: fixed;
    z-index: 5000;
    left: 0;
    height: 170px;
    right: 0; /* Full width */
    bottom: 0; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 20pt;
    padding: 20px;
    font-family: arial, sans-serif;
}

#block_page {
    display: none;
    position: fixed;
    z-index: 4999;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: black;
}

.pandaimg {
    width: 500px;
    right: 0;
    bottom: -100px;
    position: fixed;
}

.overlay_text {
    margin-left: 20px;
    right: 30%;
    position: fixed;
    left: 0;
}

.horizontal_scroll {
    overflow-x: auto;
    height: 30px;
}

.sacrifice {
    font-weight: normal;
    font-size: 16pt;
    width: fit-content;
}

.victory {
    font-size: 40pt;
}

#resetbutton2{
    /* left: 75%; */
    position: relative;
    /* z-index: 3000; */
}

.more_instructions{font-size: 14pt;font-weight: normal;}

.hint{
    font-weight: normal;
    font-style: italic;
}